body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


    
.HeaderBR {
    background-color: #122536;
    height: 70px;
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 100%;
}

.flexheader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Search {
    height: 100%;
    width: 68px;
    background-color: #20a3c5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    transform: scale(-1, 1);

}

.Search:hover {
    font-size: 60px;
    text-shadow: 2px 2px black;
}

.forecast {

    width: 200px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
}

.Mail {
    margin-left: 10px;
}

.Mail:hover {
    filter: brightness(2) invert(.4) sepia(.5) hue-rotate(150deg) saturate(400%);
}

.forecast:hover {
    filter: brightness(2) invert(.4) sepia(.5) hue-rotate(150deg) saturate(400%);
}

.Facebook {
    margin-right: 466PX;
    margin-left: 10px;
}

.Facebook:hover {
    filter: brightness(2) invert(.4) sepia(.5) hue-rotate(150deg) saturate(400%);
}

.nav {
    background-color: #dce9ed;
    height: 46px;
    width: 100%;
    position: sticky;
    overflow: auto;
    position: sticky;
    top: 0%;
    z-index: 500;
}

.NavFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;

}

.NavFlex1 {
    height: 100%;
    width: 74px;
    line-height: 46px;
    text-align: center;
}

.NavFlex2 {
    height: 100%;
    width: 114px;
    line-height: 46px;
    text-align: center;
}

.NavFlex1 div:hover {
    background-color: #122536;
    color: #fff;
}

.NavFlex2 div:hover {
    background-color: #122536;
    color: #fff;
}

.ad {
    margin-top: 2%;
    margin-bottom: 2%;
}

.News {

    height: 24px;
    width: 145px;
    background-image: url(https://rcs.mako.co.il/images/neo/mivzakim-sprite-145.png);

}

.Newsflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.News:hover {
    background-position: right 144px;
}

.scroll {

    display: flex;
    width: 815px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 10%, #fff 98%, transparent);
}

.text {
    animation: scroll 50s linear infinite;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

}
.text:hover{ text-decoration: underline;}
.text span {
    margin: 0px 20px;
}

@keyframes scroll {
    0% {
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.Live {
    height: 360px;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.LiveHeader {
    height: fit-content;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;

}

.LiveHeader img {
    width: 100px;
}

.LiveHeader p {
    margin: 0%;
}

.LiveDays {
    width: 760px;
    color: #fff;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

    vertical-align: middle;

}


.LiveRed {
    background-color: red;
    height: 25px;
    width: 62px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    border-radius: 2px;
    margin-left: 5px;
    animation: LiveRed1 2s linear infinite;
    animation-name: LiveRed1;
}

@keyframes LiveRed1 {
    0% {
        background-color: red;
    }

    50% {
        background-color: #ff000044;
    }
}






.Box {
    width: 930px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.BoxSize {
    height: 200px;
    width: 300px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.BoxSize2 {
    height: 200px;
    width: 300px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    background-image: url(https://images.storycards.co/cdn-cgi/image/trim.left=0,trim.top=285,trim.width=430,trim.height=683,width=170,quality=80,format=auto/2023/05/09/1683635588582-45e4b570-9cff-47fc-8bac-a4817772e4ba.png?oW=568&oH=1307&fsz=cover);
    background-repeat: no-repeat;
    background-size: 50%;

}

.BoxColor {
    background-image: linear-gradient(to left, rgb(237, 46, 34), rgb(251, 106, 25));
    width: 100%;
    height: 40px;
    border-bottom: red solid 3px;
    text-align: right;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.BoxColor div {
    padding: 10px;
}

.Box h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 900;
}

.Line2 {
    background-color: rgb(236, 41, 34);
    height: 2px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.Line1 {
    background-color: rgb(236, 41, 34);
    height: 1px;
    width: 100%;
    margin-top: 1%;
}

.Box {
    text-align: center;
}

.BoxFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
    padding: 5px;
}

.BoxFlex div {
    background-color: rgb(199, 198, 197, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 2%;
    font-weight: 800;
}

.EndLine {
    background-image: url(https://images.storycards.co/cdn-cgi/image/trim.left=0,trim.top=17,trim.width=1920,trim.height=90,width=1229,quality=80,format=auto/2023/05/09/1683636062334-f395d8f7-885a-4dd2-b252-15209f359b44.png?oW=1920&oH=124&fsz=cover);
    width: 100%;
    height: 34px;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    transition-duration: 2s;
    background-color: #c41211;
    cursor: pointer;
}

.EndLine:hover {
    background-color: #c41211;
    background-image: none;
}


.Content {
    display: flex;

    flex-wrap: wrap;
}

.ContentMid {

    width: 632px;
    height: 2000px;

}


.ContentSide {

    height: 2000px;
    width: 328px;
}

.ContentSideGS {
    height: 670PX;
    width: 304px;
}

.ContentSideGSB {
    border: 11px solid #e6e8e99e;
    padding-left: 9px;
    padding-right: 9px;
    width: 264px;
    height: 618px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ContentSideGSB1 {
    height: 47px;
    background-image: url(https://rcs.mako.co.il/images/mako/logo_mako_feed_blue.png);
    background-repeat: no-repeat;
    width: 260px;
    background-position: 50%;
}




.ContentMidGS {
    height: 330px;
    width: 100%;
    margin-top: 3%;
}

.ContentMidGSB {
    height: 100%;
    border: 1px gray solid;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.MidHeader {
    background-color: black;
    width: 99%;
    height: 24px;
    color: #fff;
    font-size: larger;
    padding: 0px 5px;
}

.ContentCollum {
    width: 305px;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.TheConent {
    width: 305px;
    height: 67px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    border-bottom: #dce9ed solid 1px;
    justify-content: space-between;
}

.Head {
    height: 40PX;
    width: 214PX;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.Small {
    height: 15px;
    width: 214px;
    font-size: 12px;
    margin-top: 10px;
    font-weight: lighter;
}


.Head:hover{ text-decoration: underline;}
.Small:hover{ text-decoration: underline;}
.Head2:hover{ text-decoration: underline;}
.Small2:hover{ text-decoration: underline;}
.ContentBig {
    height: 294PX;
    width: 293PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.ContentBig img {
    height: 213px;
    width: 282px;
}

.Head2 {
    height: 40PX;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

.Small2 {
    height: 15px;
    font-size: 14px;
    margin-top: 10px;
    text-align: right;
    font-weight: lighter;
}

.ConSide {
    width: 253px;
    height: 82px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 3px 0px 3px 0px;
    border-bottom: #e6e8e99e solid 1px
}

.ConSide img {
    height: 80px;
    width: 139px;
}

.ConText {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

.ConSideS1 {
    color: #c41211;
    font-size: 9px;
    text-align: right;
}

.ConSideS2 {
    height: 52px;
    width: 104px;
    font-size: 14px;
    font-weight: bolder;
    text-align: right;
}
.ConSideS2:hover{ text-decoration: underline;}
.ConSideS3:hover{ text-decoration: underline;}
.ConSideS3 {
    font-size: 12px;
    font-weight: lighter;
    text-align: right;
}

.adis { display: flex; margin-top: 1%; margin-bottom: 2%;    flex-wrap: wrap;
    justify-content: space-between;flex-direction: row-reverse;}
.a1 {
    background-image: url(https://img.mako.co.il/2024/02/09/4_re_autoOrient.2-ibud-C-02_re_autoOrient_b.jpg);
    width: 230px;
    height: 174px;
}

.a2 {
    background-image: url(https://img.mako.co.il/2024/02/17/22222_autoOrient_b.jpg);
    width: 230px;
    height: 174px;
}

.a3 {
    background-image: url(https://img.mako.co.il/2024/02/17/GettyImages-1436197787_re_autoOrient_b.jpg);
    width: 230px;
    height: 174px;
}

.a4 {
    background-image: url(https://img.mako.co.il/2024/02/17/alon1_autoOrient_b.jpg);
    width: 230px;
    height: 174px;
}
.cursor {cursor: pointer;}
.b1 {color:white; background-color: #122536ad; position: relative; top: 72%; width: fit-content; height:fit-content; display: flex; text-align: right; align-items: center; font-weight: bolder;padding: 5px;}
.b1:hover{ text-decoration: underline;}