body {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    background-color: white;

}

.header {

    padding-left: 16px;
    padding-top: 10px;
    padding-right: 16px;
    background-color: #003b95;
    display: block;

}

.nav {
    display: flex;
    align-items: center;
    margin: auto;
    width: 1140px;

}

.buttons {
    vertical-align: top;


}

.navopa {
    display: inline-block;
    vertical-align: middle;
}



.navopabutton {
    background-color: rgb(203, 251, 251, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    color: white;

    padding: 8px 12px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;

}

.navopabuttonlist {
    background-color: rgb(203, 251, 251, 0);
    border: 0px;
    color: white;

    padding: 8px 12px;
    height: 48px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: medium;
}

.navopabuttonlist2 {
    background-color: rgb(203, 251, 251, 0);
    border: 0px;
    color: white;

    padding: 8px 12px;
    height: 48px;
    border-radius: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


.navButton {

    padding: 4PX 12PX;
    color: #006ce4;
    height: 35px;
    border-radius: 3px;
    border: 2px blue;
    font-weight: bold;
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 75px;
}

.navopa img {
    width: 24px;
    height: 24px;
    border-radius: 30px;



}

.navimg {
    padding: 8px 16px 8px 0px;
    filter: brightness(900%);
    height: 25px;
    display: inline-block;
    width: 580px;
    margin-left: 3%;
}

.BigNav2 {
    margin: auto;
    width: 1140px;
}

.Title {
    margin: auto;
    width: 1140px;
    color: #ffffff;
    margin-top: 5%;

}

.Title h1 {
    margin-bottom: 0px;
    font-size: 45px;
}

.Title h2 {
    margin-top: 1%;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;

}

.navButton:hover {
    background-color: white;
}

.navopabutton:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.navopabuttonlist:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.navopabuttonlist2:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.searchButton:hover {
    background-color: #015cc4
}


.BlueSearch {
    background-color: #003b95;
    height: 32px;

}

.search {
    background-color: #ffb700;
    border-radius: 10px;
    height: 50px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    margin-top: 3.8%;

}

.container-input {
    display: inline-block;
    height: 100%;
}

.search input {
    height: 100%;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    border: 0px;
    vertical-align: middle;
    padding: 0%;
}

.container-vertical {
    height: 100%;
}

.location {
    width: 35%;
}

.date {
    width: 27%;

}

.time {

    width: 27%;
}

.btn {
    width: 112px;

}

.searchButton {
    height: 100%;
    margin: 0%;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    background-color: #006ce4;
    border: 0px;
    padding: 0%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    vertical-align: middle;
}

.checkbox {
    margin: auto;
    width: 1140px;
    cursor: pointer;
    margin-top: 1%;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
}

.checkbox input {
    width: 20px;
    border-radius: 50%;
    height: 20px;
    border: 1px solid black;
    vertical-align: middle;
}

.checkbox label {
    vertical-align: middle;
}

.AdBlock {
    display: block;
    margin-top: 8%;
    position: relative;
    margin-left: 12%;
    margin-right: 12%;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;

}

.AdBlockDiv {
    background-color: aquamarine;
    background-image: url(https://r-xx.bstatic.com/xdata/images/xphoto/714x300/293799350.jpeg?k=8a6f4e24c37096fbdcd3c3d30c9f3dcea15ce35751448466decf791918012a64&o=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 1100px;
    height: 155px;
    margin-top: 2%;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.AdMargin {
    height: 80%;
    width: 30%;
    color: white;
    margin-left: 1%;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}

.AdMargin H3 {
    font-size: large;
    font-weight: bold;
}

.AdSearchButton {
    height: 40px;
    margin-top: 5%;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    background-color: #006ce4;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: small;
    vertical-align: middle;
}

.AdSearchButton:hover {
    background-color: #015cc4
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #006ce4;
    border-radius: 50%;
    display: inline-block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.margin12 {
    width: 1140px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

}

.Images {
    display: flex;
    margin: auto;
    width: 1140px;
    margin: auto;
}

.Images img {
    border-radius: 10px;
    margin-left: 12px;
    cursor: pointer;
}

.ImagesName {
    margin-left: 3%;
    cursor: pointer;
}