.book-card {
    padding: 10px;
    border: 1px dotted orange;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-around;

}


.book-card button {
    height: 30px;
}

.display-flex {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.display-flex>button {}

.display-flex>input {
    width: 400px
}


.centerAddNewBook {
    width: 50%;
    margin: auto;
}